[Unit]
Description=FishDan media home
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/launch-media-home
TimeoutStopSec=10s

[Install]
WantedBy=graphical-session.target
