[Unit]
Description=Zuzz streaming media session
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=%h/.local/bin/launch-zuzz --run
TimeoutStopSec=15s
KillMode=control-group
